<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->


    <!-- ======================== END OF SETTINGS ========================== -->

    <!-- Right Arm: -->
    <!-- Kinova Oculus Mapping: -->
    <include 
        file="$(find kinova_positional_control)/launch/oculus_mapping.launch">
            <arg 
            name="robot_name" 
            value="right_arm"/>
            <arg 
            name="controller_side" 
            value="right"/>
    </include>

    <!-- Left Arm: -->
    <!-- Kinova Oculus Mapping: -->
    <include 
        file="$(find kinova_positional_control)/launch/oculus_mapping.launch">
            <arg 
            name="robot_name" 
            value="left_arm"/>
            <arg 
            name="controller_side" 
            value="left"/>
    </include>

    <!-- Mobile Base Oculus Mapping: -->
    <include 
        file="$(find oculus_ros)/launch/oculus_mobilebase_control.launch">
    </include>

    <!-- Chest Oculus Mapping: -->
    <include 
        file="$(find gopher_ros_clearcore)/launch/oculus_joystick_mapping.launch">
            <arg
            name='launch_controller_feedback'
            value='false'/>
            <arg 
            name="controller_side" 
            value="right"/>
    </include>

</launch>