<?xml version="1.0"?>
<launch>
    <!-- ============================ SETTINGS ============================= -->

    <!-- Node frequency: the frequency [Hz] which rate.sleep() function will
    attempt to maintain in the main_loop. -->
    <arg 
    name="node_frequency" 
    default="80"/>

    <!-- Controller side: can be either "right" or "right". -->
    <arg 
    name="controller_side" 
    default="right"/>

    <!-- Enable joystick deadzones: if set to "true" then joystick deadzones
    will be activated, this helps to identify correct joystick dirrection even
    if the joystick is not perfecty facing top, bottom, right, left. -->
    <arg 
    name="enable_joystick_deadzones" 
    default="false"/>

    <!-- Joystick deadzones: if enable joystick deadzones is set to
    "true" then these values will be used as deadzones.-->
    <arg 
    name="joystick_deadzone_x" 
    default="0.3"/>
    <arg 
    name="joystick_deadzone_y" 
    default="0.3"/>

    <!-- Long press duration [sec]: the duration a button should be pressed for it to
    be detected as a long press. The same value for all buttons and a joystick
    button. -->
    <arg 
    name="long_press_duration" 
    default="0.75"/>


    <!-- If set to "true" enable rosbag recording of nodes' outputs. -->
    <arg 
    name="enable_rosbag_recording" 
    default="false"/>

    <!-- ======================== END OF SETTINGS ========================== -->


    <!-- Controller feedback: -->
    <group ns="/$(arg controller_side)">
        <node 
        pkg="oculus_ros" 
        type="controller_feedback.py" 
        name="controller_feedback" 
        output="screen">
            <param 
            name="node_frequency" 
            value="$(arg node_frequency)"/>
            <param 
            name="controller_side" 
            value="$(arg controller_side)"/>
            <param 
            name="enable_joystick_deadzones" 
            value="$(arg enable_joystick_deadzones)"/>
            <param 
            name="joystick_deadzone_x" 
            value="$(arg joystick_deadzone_x)"/>
            <param 
            name="joystick_deadzone_y" 
            value="$(arg joystick_deadzone_y)"/>
            <param 
            name="long_press_duration" 
            value="$(arg long_press_duration)"/>
        </node>
    </group>

    <!-- Rosbag: -->
    <group if="$(arg enable_rosbag_recording)">
        <node 
        pkg="rosbag" 
        type="record" 
        name="rosbag"
        ns="/$(arg controller_side)/controller_feedback"
        output="screen"
        args="
        /$(arg controller_side)/controller_feedback/is_initialized
        /$(arg controller_side)/controller_feedback/pose
        /$(arg controller_side)/controller_feedback/joystick
        /$(arg controller_side)/controller_feedback/buttons
        -o $(find oculus_ros)/bagfiles/controller_feedback/$(arg controller_side)
        ">
        </node>    
    </group>
</launch>
