<?xml version="1.0"?>
<launch>=
    <include file="$(find oculus)/launch/oculus_feedback.launch"/>
    <include file="$(find oculus)/launch/oculus_mobilebase_control.launch"/>
    <include file="$(find gopher_ros_clearcore)/launch/oculus_chest_control.launch"/>
    <include file="$(find kinova_positional_control)/launch/oculus_kinova_control.launch"/>
</launch>
